.footer-container {
  max-height: 143px;
  width: 1920px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(217, 217, 217, 1);
  flex: 1 1 auto;
}

.footer-icons {}

.icon-link {
  margin-left: 10px;
}

.icon1 {}