.footer-container {
  min-height: 100px;
  width: 1920px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(217, 217, 217, 1);
  flex: 1 1 auto;
  margin-top: 40px;
}

.footer-icons {}

.icon-link {
  margin-left: 10px;
}

.icon1 {}


.icon-animation:active {
    transform: scale(1.15);
    transition: 0.05s;

}