@import './reset.css';


html, body {
  width: 1920px;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 50%;
  transform: translate(-50%);

}


.App {
  width: 1920px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;


}